*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

main{
   width: 90%;
   margin: 30px  auto; 
  
}

.top-to-bottom-gap{
    margin: 50px;
}

#hidden{
    display:none;
}
// h,absolute, alighn item